name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    # paths:
    #   - '**/*.tf'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Release
        uses: cycjimmy/semantic-release-action@v4.0.0
        with:
          semantic_version: 22.0.7
          extra_plugins: |
            @semantic-release/changelog@6.0.0
            @semantic-release/git@10.0.0
            conventional-changelog-conventionalcommits@4.6.3
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_SEMANTIC_RELEASE }}
