name: Release

on:
  workflow_dispatch:
  pull_request:
  # push:
    # branches:
    #   - main
    # paths:
    #   - '**/*.tf'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Release
        uses: cycjimmy/semantic-release-action@v4.0.0
        with:
          semantic_version: 22.0.7
          branch: main
          extra_plugins: |
            @semantic-release/commit-analyzer@11.1.0
            @semantic-release/release-notes-generator@12.1.0
            @semantic-release/changelog@6.0.3
            @semantic-release/git@10.0.1
            conventional-changelog-conventionalcommits@4.6.3
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_SEMANTIC_RELEASE }}
